# Time Series Formatter
    - Author Concetta D'Amato
    - Licence Creative Commons 4.0

In [1]:
import os
import numpy as np
import pandas as pd
import calendar
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import geoframepy
from timeseries_writer import*
oms_project_path = os.path.dirname(os.getcwd())

## Read data from a csv file

In [2]:
os.chdir(oms_project_path+"/data")
os.listdir()

['.DS_Store', 'Cavone', 'Meledrio', 'precip.csv', 'Precout.csv', 'RioRessi']

In [3]:
df= pd.read_csv("precip.csv")
df.head()

        1
0       0
1       0
2  0.0313
3       0
4  0.0196

## Write an OMS timeseries

In [4]:
os.chdir(oms_project_path+"/data/Cavone")
#os.listdir()

In [5]:
date_rng = pd.date_range(start='15/12/2013 00:00', end='16/12/2015 00:00' , freq='5T')
date_rng

DatetimeIndex(['2013-12-15 00:00:00', '2013-12-15 00:05:00',
               '2013-12-15 00:10:00', '2013-12-15 00:15:00',
               '2013-12-15 00:20:00', '2013-12-15 00:25:00',
               '2013-12-15 00:30:00', '2013-12-15 00:35:00',
               '2013-12-15 00:40:00', '2013-12-15 00:45:00',
               ...
               '2015-12-15 23:15:00', '2015-12-15 23:20:00',
               '2015-12-15 23:25:00', '2015-12-15 23:30:00',
               '2015-12-15 23:35:00', '2015-12-15 23:40:00',
               '2015-12-15 23:45:00', '2015-12-15 23:50:00',
               '2015-12-15 23:55:00', '2015-12-16 00:00:00'],
              dtype='datetime64[ns]', length=210529, freq='5T')

In [6]:
dfOut = pd.DataFrame(date_rng, columns=['date'])
dfOut['Prec'] = df
dfOut.insert(loc=0, column='-', value=np.nan)
dfOut.head()

    -                date    Prec
0 NaN 2013-12-15 00:00:00       0
1 NaN 2013-12-15 00:05:00       0
2 NaN 2013-12-15 00:10:00  0.0313
3 NaN 2013-12-15 00:15:00       0
4 NaN 2013-12-15 00:20:00  0.0196

In [7]:
write_timeseries_csv(dfOut,'Precout.csv')

***SUCCESS writing!  Precout.csv