# OMS CSV data files
----
**Author:** [Niccolò Tubini](https://www.researchgate.net/profile/Niccolo_Tubini2), [Riccardo Rigon](https://scholar.google.it/citations?user=OB1jx0IAAAAJ&hl=it)

**Documentation Author:** [Niccolò Tubini](https://www.researchgate.net/profile/Niccolo_Tubini2)

**To whom address questions:** 
 - [Niccolò Tubini](https://www.researchgate.net/profile/Niccolo_Tubini2) 
 - [GEOframe Users Group](https://groups.google.com/forum/#!forum/geoframe-components-users)
 - [GEOframe Developers Mailing List](https://groups.google.com/forum/#!forum/geoframe-components-developers)
 
**Version:** 0.98

**Keywords:** OMS3, OMS csv data file 

**License:** [GPL3 v3](https://www.gnu.org/licenses/gpl-3.0.en.html)

## Table of Contents

* [Abstract](#Abstract)

* [Setup](#Setup)

* [Write an OMS csv file](#Write-an-OMS-csv-file)

* [Read an OMS csv file](#Read-an-OMS-csv-file)

# Abstract

[OMS](https://alm.engr.colostate.edu/cb/wiki/16976) can use data in [CSV](https://en.wikipedia.org/wiki/Comma-separated_values) format for tabular input and output. There are some assumptions about the [structure](https://alm.engr.colostate.edu/cb/wiki/16970) of an OMS CSV file in order to use it for data reading/writing.

A table is stored as an ASCII file using the CSV standard. The file has the extension .csv. The content is stored as comma separated values. Tables may have comment lines, which start with the pound symbol # in the first column. Empty lines are allowed anywere in a table and get ignored. Tables consists of columns and rows, and optional table meta data. Columns may have a type and optional meta data. Meta data is organized as pair key, value.
A table requires two key words, `@table` and `@header`. The `@table` keyword tags the start of a table definition, the `@header` tag starts a column definition. Both tags are case insensitive.


A CSV file consists of three main sections:

- The table header, indicated by `@Table`, followed by the name of the table. The next lines may have table level meta data, one meta data entry per line. Meta data is optional.
- The table header is followed by the column header, indicated by the `@Header` keyword. Next to this all the column names are listed. The next lines may contain column meta data, starting with the key, followed by the values for each column (Example above shows Type and Format for the columns).
- Data rows start with a ',' as the first character; values are comma separated.

<figure>
    <img src="Figures/OMS_csv_data_file.png" width="800" height="800/1.618">
    <figcaption>Fig.1 - Example of a .csv file OMS compliant. </figcaption>
<figure>

# Setup
- install the package `geoframepy` x.y.z with `pip install geoframepy x.y.x`
- create a [Conda environment](https://docs.conda.io/projects/conda/en/latest/user-guide/tasks/manage-environments.html) with [geoframe_verona.yaml](https://github.com/geoframecomponents/python4GEOframe) file.
    - open the Anaconda prompt 
    - set in the folder where you have geoframe_verona.yaml `cd folder_path`
    - `conda env create -f geoframe_verona.yaml`
    - `conda activate geoframe_verona`
    
More details on the installation can be found at
- [for Windows users](https://geoframe.blogspot.com/2020/12/installations-of-2021-geoframe.html)
- [for Linux users](https://geoframe.blogspot.com/2020/12/installations-of-2021-geoframe_15.html)
- [for Mac users](https://geoframe.blogspot.com/2021/01/installations-for-mac-users.html)

In [1]:
import os
import pandas as pd

from geoframepy.timeseries import io_csv

oms_project_path = os.path.dirname(os.getcwd())

# Write an OMS csv file

The file to be formatted is `/data/Timeseries/00_data.csv`. The formatted file is saved as `/data/Timeseries/00_data_formatted.csv`.

In [2]:
df = pd.read_csv(oms_project_path+'/data/Timeseries/00_data.csv')
df.head()

     0    1    2    3       4    5    6    7
0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0 -9999.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0

In [3]:
df.tail()

,0,1,2,3,4,5,6,7
36,0.0,319.575342,323.308267,353.036067,495.071846,0.0,276.588866,371.343172
37,0.0,196.952174,0.000000,353.476266,364.598344,0.0,314.993484,366.148962
38,0.0,0.000000,0.000000,285.521930,0.000000,0.0,284.706218,292.034489
39,0.0,0.000000,0.000000,139.448239,0.000000,0.0,0.000000,0.000000
40,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000

The first column may contain the dates, it is not mandatory as in this example. The headers `0`, `1`, `2`, `3`, `4`, `5`, `6`, `7` are the ID of the meteo stations.

In [4]:
help(io_csv.write_OMS_timeseries)

Help on function write_OMS_timeseries in module geoframepy.timeseries.io_csv:

write_OMS_timeseries(df, file_name, **kwargs)
    Save a timeseries dataframe to .csv file with OMS format

    :param df: dataframe containing the timeseries. Each column correspond to a station/centroid and the
    the header contains the ID of the station/centroid.
    :type df: pandas.dataframe

    :param file_name: output file name.
    :type file_name: str

    :param \**kwargs:
    See below

    :Keyword Arguments
        * *has_datetime* bool, default True
             if the dataframe has datetime index True, otherwise False

        * *start_date* str, '01-01-2020 00:00'
            start date of the timeseries. 'mm-dd-yyyy hh:mm'

        * *frequency* str, default '1H'
            frequency of the timeseries. 'H': hourly, 'D': daily

    @author: Niccolò Tubini

    Notes:
    2021-01-09 changed pd.date_range with pd.period_range
    https://stackoverflow.com/questions/50265288/how-to-work-around-python-pandas-dataframes-out-of-bounds-nanosecond-timestamp

In [6]:
io_csv.write_OMS_timeseries(df, oms_project_path + '/data/Timeseries/00_data_formatted.csv', has_datetime=False, start_date='10-03-2020 15:00', frequency='1H')

***SUCCESS writing!  C:\Users\Niccolo\OMS\OMS_Project_WHETGEO1D_SummerSchool2021/data/Timeseries/00_data_formatted.csv

# Read an OMS csv file

Read an OMS file, as an example `/data/Timeseries/00_data_formatted.csv`.

In [7]:
help(io_csv.pandas_read_OMS_timeseries)

Help on function pandas_read_OMS_timeseries in module geoframepy.timeseries.io_csv:

pandas_read_OMS_timeseries(file_name, **kwargs)
    Read a timeseries .csv file formatted for OMS console

    :param file_name:
        file name of the csv file.
    :type file_name: string

    :param nan_value:
        value used for no values.
    :type nan_value: double

    :param \**kwargs:
    See below

    :Keyword Arguments
        * *na_values* float, default -9999
             no value

        * *datetime_index* bool, default True
            to get date time column as index, False vice-versa
        * *parse_dates* bool, default True


    :return pandas dataframe

    @author: Niccolò Tubini

In [11]:
df = io_csv.pandas_read_OMS_timeseries(oms_project_path+'/data/Timeseries/00_data_formatted.csv', datetime_index=True, parse_dates=True)
df.head()

                       0    1    2    3    4    5    6    7
Datetime
2020-10-03 15:00:00  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2020-10-03 16:00:00  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2020-10-03 17:00:00  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2020-10-03 18:00:00  0.0  0.0  0.0  0.0  NaN  0.0  0.0  0.0
2020-10-03 19:00:00  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0