# To prepare input files

    - Author Niccolo` Tubini

    - Licence Creative Commons 4.0

In [2]:
%load_ext autoreload
%autoreload 2

from timeseries_writer import *

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os


project_path = os.path.abspath('..')
os.chdir(project_path+"/data/Timeseries")

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# create you data

In [3]:
T_hourly = np.zeros(365*24)

for i in range(0,365*24):
    T_hourly[i] = 275.15 + 5*np.sin(2*np.pi/(365*24)*i)

...or you can read you data from an existing file.

# create the timeseries

To create the timeseries it is possible to use the method `pandas.date_range()`

The timeseries can be specified by defining the start date `start` and the end date `end`, or the start date `start` and the number of periods `periods`.

The frequency is defined by `freq`:
- `D` daily;
- `H` hourly;
- `T` minutes;

In [4]:
date_rng = pd.date_range(start='1/1/2000', periods=365*24 , freq='H')
date_rng

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:00:00',
               '2000-01-01 02:00:00', '2000-01-01 03:00:00',
               '2000-01-01 04:00:00', '2000-01-01 05:00:00',
               '2000-01-01 06:00:00', '2000-01-01 07:00:00',
               '2000-01-01 08:00:00', '2000-01-01 09:00:00',
               ...
               '2000-12-30 14:00:00', '2000-12-30 15:00:00',
               '2000-12-30 16:00:00', '2000-12-30 17:00:00',
               '2000-12-30 18:00:00', '2000-12-30 19:00:00',
               '2000-12-30 20:00:00', '2000-12-30 21:00:00',
               '2000-12-30 22:00:00', '2000-12-30 23:00:00'],
              dtype='datetime64[ns]', length=8760, freq='H')

# Assemble the dataframe to save

In [5]:
dfOut = pd.DataFrame(date_rng, columns=['date'])
dfOut['0'] = T_hourly
dfOut['1'] = T_hourly
# add an empty column
dfOut.insert(loc=0, column='empty', value=np.nan)
dfOut.head()

   empty                date           0           1
0    NaN 2000-01-01 00:00:00  275.150000  275.150000
1    NaN 2000-01-01 01:00:00  275.153586  275.153586
2    NaN 2000-01-01 02:00:00  275.157173  275.157173
3    NaN 2000-01-01 03:00:00  275.160759  275.160759
4    NaN 2000-01-01 04:00:00  275.164345  275.164345

# save to a .csv file

In [8]:
write_timeseries_csv(dfOut, 'write_timeseries_csv.csv')

***SUCCESS writing!  write_timeseries_csv.csv